<%- include('header'); -%>
<div class='content'>
    <H1 ID="welcome">WELCOME to Contacts</H1>
    <h2 class="contactsthing">Name: Francis Sandrino</h2>
    <h2 class="contactsthing">Address: HWUD, Knowledge Village</h2>
    <h2 class="contactsthing">Phone: +971 000 0000</h2>
    <h2 class="contactsthing">Email: fgs2@hw.ac.uk</h2>
</div>
<%- include('footer'); -%>
