<%- include('header'); -%>
<div class='content'>
    <H1 ID="welcome">WELCOME to the Login page</H1>
    <form action="/api/login" method="get">
        <label for="user">Username:</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<%- include('footer'); -%>

