<%- include('header'); -%>
<div class='content'>
    <H1 ID="welcome">WELCOME to the Login page</H1>
    <form action="/api/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<%- include('footer'); -%>

